.center {

}

#cp {
    background-color: chocolate;
}
#sp {
    background-color: silver;
}
#ep {
    background-color: green;
}
#gp {
    background-color: gold;
}
#pp {
    background-color: slategray;
}
