.regular,
th,
td {
    border-collapse: seperate;
    border-spacing: 2px;
    border: 2px solid;
    border-color: deepskyblue;
}

.currency,
th,
td {
    border-collapse: collapse;
    border-color: white;
}

#cp {
    background-color: chocolate;
}

#sp {
    background-color: silver;
}

#ep {
    background-color: green;
}

#gp {
    background-color: gold;
}

#pp {
    background-color: slategray;
}
