.regular,
th,
td {
    border-collapse: seperate;
    border-spacing: 2px;
    border: 2px solid;
    border-color: deepskyblue;
    text-decoration-color: black;
}

.currency,
th,
td {
    border-style: hidden;
}

#cp {
    background-color: chocolate;
}

#sp {
    background-color: silver;
}

#ep {
    background-color: green;
}

#gp {
    background-color: gold;
}

#pp {
    background-color: slategray;
}

.roundPieces,
th,
td {
    border: 2px solid;
    border-collapse: separate;
    border-color: coral;
    border-spacing: 2px;
}

.abilities,
th,
td {
    border: 2px solid;
    border-color: darkgreen;
}
